@import "tailwindcss";

@layer base {
  h1 {
    @apply text-4xl font-bold mt-6 mb-4;
  }
  h2 {
    @apply text-3xl font-bold mt-5 mb-3;
  }
  h3 {
    @apply text-2xl font-semibold mt-4 mb-2;
  }
  h4 {
    @apply text-xl font-semibold mt-3 mb-2;
  }
  a{
    @apply hover:underline;
  }
  #document main h3{
    @apply font-bold text-blue-800;
  }
  #document main h4{
    @apply mt-0;
  }
}

  @layer utilities {
    .fade-up {
      opacity: 0;
      transform: translateY(20px);
      transition: all 0.8s ;
    }

    .fade-up.show {
      opacity: 1;
      transform: translateY(0);
    }
  }