---
import Layout from "../layouts/Layout.astro";
import ProfilePhoto from "../components/ProfilePhoto.astro";
import Header from "../components/Header.astro";
import Skills from "../components/Skills.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";  
---

<Layout>
  <div
    id="document"
    class="max-w-5xl bg-white shadow-lg rounded-lg
          my-0 md:grid md:grid-cols-3 md:my-4"
  >
    <!--max-w-5xl es porque me ocupaba todo el ancho de la pantalla y no se veia bien -->
    <!--con grid para pantallas medianas puedo decirle cuantas columnas quiero y cuanto ocupa cada elemento asi se coloca uno al lado del otro-->

    <!-- Barra lateral -->
    <aside class="bg-blue-100 p-6 md:col-span-1">
      <ProfilePhoto />
      <Header />
      <Contact />
      <br />
      <Skills />
      <br/>
    </aside>

    <!-- parte principal -->
    <main class="bg-gray-100 p-6 md:col-span-2">
      <About />
      <Projects />
    </main>
  </div>
</Layout>
