---
const skills = {
  Backend: [
    "Java",
    "PHP",
    "Node.js",
    "Express",
    "MySQL",
  ],

  Frontend: [
    "JavaScript",
    "HTML5",
    "CSS3",
    "Astro",
    "Bootstrap"
  ],

  Cloud: [
    "AWS",
    "EC2",
    "S3"
  ],
};
---

<section id="skills">
    <h3 class="text-center">Skills</h3>
    {
        //con object entries obtenemos un array a partir del objeto
        Object.entries(skills).map(([category, items]) => (
            <h4 class="text-center">{category}</h4>
            <ul>
                {items.map((skill) => (
                    <li class="bg-white mb-1  text-center hover:animate-ping fade-up">{skill}</li>
                ))}
            </ul>
        ))
    }
</section>
